# Docker specific
Dockerfile
.dockerignore

# Git
.git
.gitignore

# Environment
.env
.env.*

# Python caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
venvd/
env/

# OS / IDE specific
.DS_Store
.vscode/
.idea/
